services:
  usersdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: usersdb
    environment:
      SA_PASSWORD: "KHt$3QJ*D7h126saT^in1&"
      ACCEPT_EULA: "Y"
    ports:
      - "1433:1433"
    networks:
      - innoshop-network
    volumes:
      - usersdbdata:/var/opt/mssql

  productsdb:
    image: mcr.microsoft.com/mssql/server:2022-latest
    container_name: productsdb
    environment:
      SA_PASSWORD: "YourStrong!Passw0rd"
      ACCEPT_EULA: "Y"
    ports:
      - "1434:1433"
    networks:
      - innoshop-network
    volumes:
      - productsdbdata:/var/opt/mssql

  usersapi:
    build:
      context: ./UserService
      dockerfile: src/Users.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      ConnectionStrings__DefaultConnection: "Server=usersdb,1433;Database=InnoShopUsersDb;User Id=sa;Password=KHt$3QJ*D7h126saT^in1&;"
    networks:
      - innoshop-network
    deploy:
      replicas: 0 # << отключает автоматический запуск

  productsapi:
    build:
      context: ./ProductService
      dockerfile: src/Products.Api/Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
      ConnectionStrings__DefaultConnection: "Server=productsdb,1433;Database=InnoShopProductsDb;User Id=sa;Password=YourStrong!Passw0rd;"
    networks:
      - innoshop-network
    deploy:
      replicas: 0

  apigateway:
    build:
      context: ./ApiGateway
      dockerfile: Dockerfile
    environment:
      ASPNETCORE_ENVIRONMENT: "Docker"
    ports:
      - "5000:8080"
    networks:
      - innoshop-network
    deploy:
      replicas: 0

networks:
  innoshop-network:

volumes:
  usersdbdata:
  productsdbdata:
